.comp-plan {
	width: 100%;

	&-title, &-foot {
		margin: 0;
		background-color: #3498db;
	}

	&-title {
		font: {
			family: $font2;
			size: 28px;
			weight: 400;
		};
		color: #fefefe;
		text-align: center;
		padding: 17px 0;
	}

	&-content {
		padding: 20px;
		background: #fff;
	}

	&-price {
		display: table;
		margin: 0 auto 18px;

		strong, small {
			font: {
				family: $font3;
				weight: 400;
			}
			color: #000;
		}

		strong {
			font-size: 42px;
			float: left;
			margin-right: 2px;
		}

		small {
			font-size: 24px;
		}
	}

	&-features {
		@extend %set-default-list;
		width: 100%;

		&-item {
			width: 100%;
			margin-top: 14px;
			padding-top: 14px;
			border-top: 1px solid #c2c2c2;

			font: {
				size: 16px;
				weight: 400;
			};
			color: #848484;
			text-align: center;
		}

		&-item:first-of-type {
			margin-top: 0;
		}
	}

	&-foot {
		padding: 20px 0;
	}

	&-purchase-button {
		font: {
			family: $font2;
			size: 15px;
			weight: 700;
		};
		color: #fff;
		text: {
			decoration: none;
			transform: uppercase;
		}
		display: table;
		margin: 0 auto;
		padding: 15px 32px;
		text-align: center;
		background: #0d74b9;
	}
}