* {
	box-sizing: border-box;
}

.clearfix {
	&:after {
		width: 100%;
		content: '';
		clear: both;
		display: block;
	}
}

.wrapper {
	width: 90%;
	max-width: 1180px;
	margin: 0 auto;
}

.icon {
	display: table;
}